.body {
  &-container {
    background: #fff;
    min-height: 83vh;
    padding: 1rem;
    margin-bottom: 1.25rem;
  }
}

.breadcrumb {
  &-container {
    padding-top: 1rem;
  }
  &-container > a {
    color: #666;
    text-decoration: none;
  }
}
