.cardProduct {
  &-img {
    width: 11.25rem;
    border-radius: 0.25rem;
  }
  &-priceCity {
    display: flex;
    align-items: flex-end;
  }
  &-price {
    margin-top: 1rem;
  }
}

.descriptionProduct {
  &-price {
    font-size: 1.5rem;
  }
  &-description {
    padding-left: inherit;
  }
  &-text {
    font-size: 1.125rem;
    padding: 0 !important;
    margin-top: 1rem;
  }
  &-city {
    font-size: 0.75rem;
    color: #999;
  }
  &-shipping {
    width: 8%;
    margin-left: 2%;
  }
}

/** Styles Bootstrap **/
.btn-link {
  --bs-btn-color: #000;
  --bs-btn-active-color: #000;
  --bs-btn-active-color: #000;
  --bs-btn-hover-color: #000;
  text-decoration: none;
}

.btn {
  text-align: inherit !important;
}

/** Responsive **/
@media (min-width: 1020px) {
  .cardProduct {
    &-description {
      padding-left: 1.4375rem;
    }
  }
}
