::placeholder {
  color: #999 !important;
  font-size: 18px;
}

.navbar {
  padding: 14px 2%;
  &-brand {
    display: flex;
    // justify-content: flex-start;
    width: 27%;
  }
}


/** Bootstrap styles **/
.bg-light {
  background-color: #ffe600 !important;
}

.form-control {
  border: none;
  border-radius: 0.375rem 0 0 0.375rem;
}

.navbar-expand .offcanvas .offcanvas-body {
  display: inline;
  padding: 0 5%;
}

.btn {
  --bs-btn-border-radius: 0 0.375rem 0.375rem 0;
}

.btn-outline-success {
  background-color: #eee;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #666;
  --bs-btn-hover-bg: #666;
  --bs-btn-hover-border-color: #666;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #666;
  --bs-btn-active-border-color: #666;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #666;
  --bs-gradient: none;
}

/** MediaQuerys **/
@media (min-width: 500px) {
  .navbar {
    &-brand {
      width: 6%;
    }
  }
}
@media (min-width: 1440px) {
  .navbar {
    &-brand {
      width: 4%;
    }
  }
}


